.header  {
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: rgb(245, 202, 145);
  padding: 4px 32px;
}

ul {
  list-style-type: none;
}

a {
  font-size: 22px;
  background: rgb(235, 202, 164);
  padding: 8px;
  text-decoration: none;
}
.header {
background: rgb(240, 200, 154);
border-bottom: 1px solid #ddd;
box-shadow: 0 0 8px rgba(0,0,0,.1);


display: flex;
align-items: center;
justify-content: space-between;
padding: 16px 24px;
}